<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wushanqiyong.shop.mapper.RoleAuthoritiesMapper" >
  <resultMap id="BaseResultMap" type="wushanqiyong.shop.pojo.RoleAuthorities" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="authorities_id" property="authoritiesId" jdbcType="BIGINT" />
  </resultMap>
</mapper>